<%- include('../partials/head.ejs') %>
    <%- include('../partials/header.ejs') %>

        <body>
            <main>
                <div class="messages-container">
                    Messages:
                    <div class="message">
                        <div class="user">
                            User: <%= messages[messageId].user %>
                        </div>
                        <div class="message-text">
                            Message: <%= messages[messageId].text %>
                        </div>
                        <div class="date">
                            Date: <%= messages[messageId].added %>
                        </div>
                    </div>
                </div>
            </main>
        </body>
        <%- include('../partials/footer.ejs') %>
